html, *{
  padding: 0;
  margin: 0;
  font-family: 'Switzer-light';
}

@font-face {
  font-family: Switzer-light;
  src: url(../public/OTF/Switzer-Light.otf) format(opentype);
}   
@font-face {
  font-family: Switzer-elight;
  src: url(../public/OTF/Switzer-Extralight.otf) format(opentype);
} 

@font-face {
  font-family: Switzer-bold;
  src: url(../public/OTF/Switzer-Bold.otf) format(opentype);
} 

@font-face {
  font-family: Switzer-regular;
  src: url(../public/OTF/Switzer-Regular.otf) format(opentype);
} 

@font-face {
  font-family: Switzer-black;
  src: url(../public/OTF/Switzer-Black.otf) format(opentype);
} 

.line {
  border-bottom:1px dashed #3E3E3E;
}